{% load static %}

<footer>
  <div class="footerSection">
    <div class="footerInfo">
      <img src="{% static 'photos/logo.png' %}" alt="Logo">
      <h2>アジアンオシャン</h2>
      <span>Life is uncertain. Eat dessert first.</span>
      
    </div>
    <div class="footerContact">
      <h2>Contact Us</h2>
      <span>住所：〒116-0014 東京都荒川区東日暮里1-19-4</span>
      <span>Ph. no (3434) 343434</span>
      <span>Mail:- asianOcean89@gmail.com</span>
      
    </div>

    <div class="footerQr">
      <div class="footerQr__scanImg">
        <img src="{% static '/photos/qr.png' %}" alt="Scam Me!!">
      </div>
      
      <div class="footerQr__info">
        <h3>Scan Me!!</h3>
      </div>
    </div>
  </div>
  <div class="footerStripe">
    <div class="footerStripe__social">
      <!-- Facebook -->
      <a href="https://www.facebook.com/" class="facebook">
        <i class="fab fa-facebook-f fa-lg text-white mr-4"> </i>
      </a>
      <!-- Twitter -->
      <a href="https://www.twitter.com" class="twitter">
        <i class="fab fa-twitter fa-lg text-white mr-4"></i>
      </a>
      <!--Instagram-->
      <a href="https://www.instagram.com" class="instagram">
        <i class="fab fa-instagram fa-lg text-white mr-4"> </i>
      </a>
    </div>
    <div class="footerStripe__copyright">
      <p>Copyright © <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart" aria-hidden="true"></i> by GROW.</p>
    </div>
  </div>
</footer>