{% load static %}
<header class="header" id="navMain__header">
  <div class="header__logo">
    <img src="{% static 'photos/logo.png' %}" alt="Asian Ocean">
  </div>

  <ion-icon name="menu-outline" class="header__toggle" id="nav-toggle"></ion-icon>

  <nav class="nav__div" id="nav-menu">
    <div class="nav__content">

      <ion-icon name="close-outline" class="nav__close" id="nav-close"></ion-icon>

      <div class="nav__profile">
        <div class="nav__logo">
          <img src="{% static 'photos/logo.png' %}" alt="">
        </div>
        <div class="nav__info">
          <a href="#" class="nav__name">アジアンオシャン</a>
          <span class="nav__address">〒116-0014 東京都荒川区東日暮里1-19-4</span>
        </div>
      </div>

      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item"><a href="{% url 'home:home' %}" class="nav__link">ホーム</a></li>
          <li class="nav__item"><a href="{% url 'meal:meal_list' %}" class="nav__link">メニュー</a></li>
          <li class="nav__item"><a href="{% url 'reservation:reservation-list' %}" class="nav__link">予約</a></li>
          <li class="nav__item"><a href="/about.html" class="nav__link">About Us</a></li>
        </ul>
      </div>

      <div class="nav__social">
        <a href="{% url 'meal:checkout' %}" class="nav__social-icon">
          <i class="fas fa-cart-plus"></i>
        </a>
        <a href="{% url 'meal:checkout' %}" class="nav__social-icon">
          <i class="fas fa-user-circle"></i>
        </a>
        <a href="{% url 'account:logout' %}" class="nav__social-icon">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>
    </div>
  </nav>
</header>